html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

*, *::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

sub {
  vertical-align: sub;
}

.container {
  font-family: "Noto Sans TC", sans-serif;
}

.container .go_top {
  position: fixed;
  background: url(../images/top.png);
  width: 71px;
  height: 71px;
  bottom: 3%;
  right: 4%;
}

.container header {
  position: absolute;
  width: 100%;
}

.container header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88px;
  max-width: 1120px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.container header .top img {
  width: 200px;
}

.container header .top a {
  background: #FF5D50;
  color: #fff;
  padding: 8px 32px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .container header .top {
    border-bottom: 2px #FFD153 solid;
  }
  .container header .top img {
    width: 145px;
  }
}

@media screen and (max-width: 768px) {
  .container header {
    position: static;
  }
}

.container .banner {
  background-repeat: no-repeat;
  width: 100%;
  height: 850px;
  background-image: url(../images/bg_yellow.svg);
  background-position: right top;
}

@media screen and (max-width: 768px) {
  .container .banner {
    background-image: none;
    height: auto;
  }
}

.container .row_box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 16px;
}

.container .row_box .people_img {
  width: 50%;
}

.container .row_box .people_img img {
  background-size: contain;
  height: 534px;
  width: 100%;
  background-repeat: no-repeat;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .container .row_box .people_img img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container .row_box {
    padding: 0 20px;
    height: auto;
    margin: 32px 0;
  }
  .container .row_box .people_img {
    width: 100%;
    height: 305px;
    background-image: url(../images/bg_home_sm.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 32px;
    background-position: bottom;
  }
}

.container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  font-family: "Noto Sans TC", sans-serif;
}

.container .title .title_one {
  font-size: 18px;
  color: #56C4C5;
  font-weight: bold;
}

.container .title h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 80px;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .container .title h2 {
    font-size: 32px;
    line-height: 50px;
  }
}

@media screen and (max-width: 414px) {
  .container .title h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .container .title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container .go_top {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}

.container .h2_style {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.container .section_1 {
  position: relative;
}

.container .box-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .box-icon::before {
  position: absolute;
  content: '';
  background-image: url(../images/ball01.svg);
  width: 360px;
  height: 360px;
  left: -214px;
  z-index: -9;
}

.container .box-icon::after {
  position: absolute;
  content: '';
  background-image: url(../images/ball02.svg);
  height: 317px;
  width: 317px;
  right: 10px;
  top: 822px;
  z-index: -9;
}

@media screen and (max-width: 768px) {
  .container .box-icon .h2_style {
    font-size: 28px;
  }
}

.container .box-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 48px 0 100px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .box-icon ul li {
  width: calc(100%/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 30px;
  padding: 0 67px;
  text-align: center;
}

.container .box-icon ul img {
  width: 90px;
}

.container .box-icon ul h3 {
  font-size: 24px;
  margin: 24px 0;
  font-weight: bold;
}

.container .box-icon ul p {
  color: #747474;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .container .box-icon ul img {
    width: 50px;
  }
  .container .box-icon ul li {
    width: 100%;
  }
  .container .box-icon ul h3 {
    font-size: 18px;
    margin: 16px 0;
  }
  .container .box-icon ul p {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.container .section_card .section_2_text {
  font-size: 20px;
  text-align: center;
  line-height: 3;
}

.container .section_card .box-4 {
  width: 100%;
  max-width: 1120px;
  margin: auto;
}

.container .section_card .box-4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .section_card .box-4 ul li {
  width: calc(100%/4 - 16px);
  margin: 8px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  text-align: center;
  border-radius: 20px;
}

.container .section_card .box-4 ul li img {
  border-top-left-radius: 20px;
  width: 100%;
  border-top-right-radius: 20px;
}

.container .section_card .box-4 ul li h3 {
  color: #56C4C5;
  font-weight: bold;
  padding: 16px;
}

.container .section_card .box-4 ul li p {
  padding: 0 16px 24px 16px;
  line-height: 1.5;
  font-size: 16px;
}

@media screen and (max-width: 996px) {
  .container .section_card .box-4 ul li {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .container .section_card .box-4 ul li {
    width: 100%;
    margin: 12px 57px;
  }
}

.container .section_3 {
  margin-top: 100px;
  width: 100%;
  max-width: 1120px;
  margin: 100px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .section_3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .section_3 ul li {
  padding: 32px;
  width: 34%;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px #00000014;
  box-shadow: 0px 2px 10px #00000014;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 47px 28px 0;
}

@media screen and (max-width: 996px) {
  .container .section_3 ul li {
    margin: 0 23px 24px 23px;
  }
}

@media screen and (max-width: 768px) {
  .container .section_3 ul li {
    width: 100%;
    margin: 0 74px 24px 74px;
  }
}

.container .section_3 ul li h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 18px 0;
}

.container .section_3 ul li img {
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  width: 86px;
  height: 86px;
  padding: 15px;
  border-radius: 50px;
  -o-object-fit: none;
     object-fit: none;
}

@media screen and (max-width: 996px) {
  .container .section_3 ul {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container .section_3 .section_3_box_2 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.container .section_3 .section_3_box_2 h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 2.5rem;
}

@media screen and (max-width: 768px) {
  .container .section_3 .section_3_box_2 h2 {
    font-size: 28px;
  }
}

.container .section_3 .section_3_box_2 p {
  margin: 16px 0;
  line-height: 1.7rem;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .container .section_3 .section_3_box_2 p {
    font-size: 16px;
  }
}

.container .section_3 .section_3_box_2 a {
  background: #56C4C5;
  color: #fff;
  padding: 12px 32px;
  display: block;
  width: 136px;
  border-radius: 20px;
}

@media screen and (max-width: 996px) {
  .container .section_3 .section_3_box_2 {
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container .section_3 .section_3_box_2 {
    padding: 0 25px;
  }
}

@media screen and (max-width: 996px) {
  .container .section_3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.container .section_4 {
  position: relative;
}

.container .section_4::before {
  content: "";
  background-image: url(../images/ball03.svg);
  width: 152px;
  height: 153px;
  position: absolute;
  left: 10%;
  z-index: -9;
}

.container .section_4 .section_4_card {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1120px;
  margin: auto;
}

.container .section_4 .section_4_card p {
  border-bottom: solid 1px #ddd;
  padding: 14px 0 24px 0;
  line-height: 1.6rem;
}

.container .section_4 .section_4_card h3 {
  font-weight: bold;
  padding-top: 24px;
}

.container .section_4 .section_4_card h4 {
  padding: 8px 0;
  width: 100%;
}

.container .section_4 .section_4_card .box_1 {
  width: calc(100%/3);
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  position: relative;
  padding: 48px 32px 30px 32px;
  border-radius: 10px;
  margin: 79px 8px 30px 8px;
  background: #fff;
}

.container .section_4 .section_4_card .box_1 .box-img {
  border-radius: 50%;
  width: 80px;
  top: -40px;
  position: absolute;
}

.container .section_4 .section_4_card .box_1 .name_star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .section_4 .section_4_card .box_1 .name_star img {
  padding: 5px;
}

.container .responsive .btn_box {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .responsive button {
  font-size: 0;
  margin: 0 5px;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  background: #ddd;
  border-radius: 50%;
}

.container .responsive button::before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.container .responsive .slick-active button {
  background: #FFD153;
  width: 20px;
  border-radius: 10px;
}

.container .section_5 {
  background: url(../images/home_footer.svg);
  width: 100%;
  height: 503px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .container .section_5 {
    background: url(../images/footer_sm.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.container .section_5 h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 140px;
}

@media screen and (max-width: 768px) {
  .container .section_5 h2 {
    font-size: 24px;
  }
}

.container .section_5 a {
  background: #56C4C5;
  color: #fff;
  padding: 12px 32px;
  font-size: 18px;
  border-radius: 20px;
  margin-bottom: 49px;
  margin-top: 35px;
}

.container .section_5 p {
  background: #F5F5F5;
  color: #221E1F;
  text-align: center;
  width: 100%;
  padding: 16px 0;
}
